{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenu {{prenom}}{{nom}}</h1>
    <p> Vous êtes connecté en tant qu'étudiant </p>
    <h3>Informations</h3>
    <p>{{email}}</p>
    <a href="{{ path('app_logout')}}">Se déconnecter</a>
{% endblock %}
