{# templates/homepage/homepage.html.twig #}
<link href="{{ asset('css/main.css') }}" rel="stylesheet" />
<h1>Bienvenu</h1>
<a href="{{ path('app_login')}}">Se connecter</a>
<a href="{{ path('app_register')}}">S'inscrire</a>